<!-- header.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postventa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-expand-xl">
      <div class="container-fluid">
        <img id="logo" src="{{ url_for('static', filename='img/icono_emp.png') }}" alt="PingüinoGamer" height="80">
        <a class="navbar-brand me-5">PingüinoGamer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="las la-list-ul" style="border: none; color: #EEEEEE; font-size: 45px;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active nav-lk" aria-current="page" href='/'>Inicio</a>
              </li>
              <li class="nav-item dropdown d-flex align-items-center flex-column align-self-start container-fluid">
                <a class="nav-link dropdown-toggle nav-lk" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" onkeypress="">
                  Generar
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item nav-lk dropitem" href='/b_boleta'>Boleta</a></li>
                  <li><a class="dropdown-item nav-lk dropitem" href='/go_despacho'>Orden de Despacho</a></li>
                </ul>
              </li>
              <li class="nav-item session">
                <a id="login_link" class="nav-link nav-lk" href='/login'>Iniciar Sesión</a>
              </li>
              <h4 id="slash_logreg" class="session">/</h4>
              <li class="nav-item session">
                <a id="register_link" class="nav-link nav-lk" href='/register'>Registrarse</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
</body>
</html>